.input-title {
    font-weight: 500;
    color: var(--negro-universo);
    display: flex;
    color: var(--negro-universo);
    justify-content: space-between;
    align-items: flex-end;
    min-height: 35px;
}
